div.Menu-Body {
    width: 100%;
    height: fit-content;
    background: rgb(20, 14, 58);
}

ul {
    list-style-type: none;
    padding-left: 0%;
}

li {
    display: inline-block;
    padding: 2.5%;
    padding: 1% 2% 1% 1%;
    border-right: dotted 1px white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
    padding-right: 2px;
    padding-left: 5px;
}

li:hover {
    background-color: rgb(41, 157, 202);
}